{% if prop.value %}
  <div class="yoti-attribute-list-item">
    <div class="yoti-attribute-name">
      <div class="yoti-attribute-name-cell">
        <i class="{{ icon }}"></i>
        <span class="yoti-attribute-name-cell-text">{{ name }}</span>
      </div>
    </div>

    <div class="yoti-attribute-value">
      <div class="yoti-attribute-value-text">
        {% if prop.name == "document_images" %}
          {% for image in prop.value %}
            <img src="{image.value.base64_content() }" />
          {% endfor %}
        {% elif prop.name == "document_details" %}
          <table>
            <tr><td>Type</td><td>{{ prop.value.document_type }}</td></tr>
            <tr><td>Issuing Country</td><td>{{ prop.value.issuing_country }}</td></tr>
            <tr><td>Document Number</td><td>{{ prop.value.document_number }}</td></tr>
            {% if prop.value.expiration_date %}
              <tr><td>Expiration Date</td><td>{{ prop.value.expiration_date }}</td></tr>
            {% endif %}
            {% if prop.value.issuing_authority %}
              <tr><td>Issuing Authority</td><td>{{ prop.value.issuing_authority }}</td></tr>
            {% endif %}
          </table>
        {% elif prop.name == "structured_postal_address" %}
          <table>
            {% for key, value in prop.value.items %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          </table>
        {% elif prop.name == "age_verified" %}
          <table>
            <tr>
              <td>Check Type</td>
              <td>{{ prop.value.check_type }}</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>{{ prop.value.age }}</td>
            </tr>
            <tr>
              <td>Result</td>
              <td>{{ prop.value.result }}</td>
            </tr>
          </table>
        {% else %}
          {{ prevalue }}
          {{ prop.value }}
        {% endif %}
      </div>
    </div>
    <div class="yoti-attribute-anchors-layout">
      <div class="yoti-attribute-anchors-head -s-v">S / V</div>
      <div class="yoti-attribute-anchors-head -value">Value</div>
      <div class="yoti-attribute-anchors-head -subtype">Sub type</div>
      {% for source in prop.sources %}
        <div class="yoti-attribute-anchors -s-v">Source</div>
        <div class="yoti-attribute-anchors -value">{{ source.value }}</div>
        <div class="yoti-attribute-anchors -subtype">{{ source.subtype }}</div>
      {% endfor %}
      {% for verifier in prop.verifiers %}
        <div class="yoti-attribute-anchors -s-v">Verifier</div>
        <div class="yoti-attribute-anchors -value">{{ verifier.value }}</div>
        <div class="yoti-attribute-anchors -subtype">{{ verifier.subtype }}</div>
      {% endfor %}
    </div>
  </div> 
{% endif %}
