<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your header content -->
    <script src="https://sdk.yoti.com/clients/browser.2.1.0.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
<!-- Your website content -->

<!-- This span will create the Yoti button -->
<span data-yoti-application-id="{{app_id}}">
        Log in with Yoti
    </span>

<!-- This script snippet will also be required in your HTML body -->
<script>
        _ybg.init()

</script>
</body>
</html>
