<!DOCTYPE html>
<html class="yoti-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Yoti client example</title>

    <link rel="stylesheet" type="text/css" href="/static/profile.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
</head>
<body class="yoti-body">
  <main class="yoti-profile-layout">
    <section class="yoti-profile-user-section">
      <div class="yoti-profile-picture-powered-section">
        <span class="yoti-profile-picture-powered">Powered by</span>
        <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti" />
      </div>
      {% if selfie is not none %}
      <div class="yoti-profile-picture-area">
        <img src="{{ base64_selfie_uri }}" class="yoti-profile-picture-image" alt="Yoti" />
        <i class="yoti-profile-picture-verified-icon"></i>
      </div>
      {% endif %}
      
      <div class="yoti-profile-name">
        {{ full_name.value }}
      </div>
    </section>

    <section class="yoti-attributes-section">
      <img class="yoti-company-logo" src="/static/assets/company-logo.jpg" alt="company logo" />
      <div class="yoti-attribute-list-header">
        <div class="yoti-attribute-list-header-attribute">Attribute</div>
        <div class="yoti-attribute-list-header-value">Value</div>
        <div>Anchors</div>
      </div>

      <div class="yoti-attribute-list-subheader">
        <div class="yoti-attribute-list-subhead-layout">
          <div>S / V</div>
          <div>Value</div>
          <div>Sub type</div>
        </div>
      </div>

      <div class="yoti-attribute-list">
        {% if given_names %} {% include "attribute_snippet.html" with name="Given names" icon="yoti-icon-profile" prop=given_names prevalue="" %} {% endif %}
        {% if family_name %} {% include "attribute_snippet.html" with name="Family names" icon="yoti-icon-profile" prop=family_name prevalue="" %} {% endif %}
        {% if phone_number %} {% include "attribute_snippet.html" with name="Mobile number" icon="yoti-icon-phone" prop=phone_number prevalue="" %} {% endif %}
        {% if email_address %} {% include "attribute_snippet.html" with name="Email address" icon="yoti-icon-email" prop=email_address prevalue="" %} {% endif %}
        {% if date_of_birth %} {% include "attribute_snippet.html" with name="Date of birth" icon="yoti-icon-calendar" prop=date_of_birth prevalue="" %} {% endif %}
        {% if age_verified %} {% include "attribute_snippet.html" with name="Age verified" icon="yoti-icon-verified" prop=age_verified prevalue="Age Verification/" %} {% endif %}
        {% if postal_address %} {% include "attribute_snippet.html" with name="Address" icon="yoti-icon-address" prop=postal_address prevalue="" %} {% endif %}
        {% if structured_postal_address %} {% include "attribute_snippet.html" with name="Structured Address" icon="yoti-icon-address" prop=structured_postal_address prevalue="" %} {% endif %}
        {% if gender %} {% include "attribute_snippet.html" with name="Gender" icon="yoti-icon-gender" prop=gender prevalue="" %} {% endif %}
        {% if document_images %} {% include "attribute_snippet.html" with name="Document Images" icon="yoti-icon-profile" prop=document_images prevalue="" %} {% endif %}
        {% if document_details %} {% include "attribute_snippet.html" with name="Document Details" icon="yoti-icon-profile" prop=document_details prevalue="" %} {% endif %}
      </div>

    </section>
  </main>
</div>
</body>
</html>
