<!DOCTYPE html>
<html class="yoti-html">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Yoti Doc Scan example</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
</head>

<body class="yoti-body">

  <main>
    <h3>Doc Scan Session {{session_id}}</h3>
    <div style="width: 100%; text-align: center;">
      <iframe
        src="https://stg1.api.internal.yoti.com/idverify/v1/web/index.html?sessionID={{session_id}}&sessionToken={{client_token}}"
        width="100%" height="750" allow="camera"></iframe>
    </div>
  </main>

</body>

</html>

