click>=7
cffi>=1.15.0
cryptography>=42.0.0
flask>=1.0.4
future>=1.0.0
jinja2>=3.0.3
pyopenssl>=24.0.0
python-dotenv>=0.7.1
requests>=2.31.0
urllib3>=1.24.2
# yoti will be installed separately in CI from local source
werkzeug>=1.0.1
six==1.16.0
