{% macro parse_document_images(prop) %}
  {% for image in prop.value %}
    <img src="{image.value.base64_content() }" />
  {% endfor %}
{% endmacro %}

{% macro parse_structured_address(prop) %}
  <table>
  {% for key in prop.value %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ prop.value[key] }}</td>
    </tr>
  {% endfor %}
  </table>
{% endmacro %}

{% macro parse_document_details(prop) %}
  <table>
    <tr><td>Type</td><td>{{ prop.value.document_type }}</td></tr>
    <tr><td>Issuing Country</td><td>{{ prop.value.issuing_country }}</td></tr>
    <tr><td>Document Number</td><td>{{ prop.value.document_number }}</td></tr>
  {% if prop.value.expiration_date %}
    <tr><td>Expiration Date</td><td>{{ prop.value.expiration_date }}</td></tr>
  {% endif %}
  {% if prop.value.issuing_authority %}
    <tr><td>Issuing Authority</td><td>{{ prop.value.issuing_authority }}</td></tr>
  {% endif %}
  </table>
{% endmacro %}

{% macro attribute(name, icon, prop, prevalue="") %}
  {% if prop %}
    {% if prop.value %}
      <div class="yoti-attribute-list-item">
        <div class="yoti-attribute-name">
          <div class="yoti-attribute-name-cell">
            <i class="{{ icon }}"></i>
            <span class="yoti-attribute-name-cell-text">{{ name }}</span>
          </div>
        </div>
          
        <div class="yoti-attribute-value">
          <div class="yoti-attribute-value-text">
            {% if prop.name == "document_images" %}
              {{ parse_document_images(prop) }}
            {% elif prop.name == "structured_postal_address" %}
              {{ parse_structured_address(prop) }}
            {% elif prop.name == "document_details" %}
              {{ parse_document_details(prop) }}
            {% else %}
              {{ prevalue }}
              {{ prop.value }}
            {% endif %}
          </div>
        </div>
        <div class="yoti-attribute-anchors-layout">
          <div class="yoti-attribute-anchors-head -s-v">S / V</div>
          <div class="yoti-attribute-anchors-head -value">Value</div>
          <div class="yoti-attribute-anchors-head -subtype">Sub type</div>
          {% for source in prop.sources %}
            <div class="yoti-attribute-anchors -s-v">Source</div>
            <div class="yoti-attribute-anchors -value">{{ source.value }}</div>
            <div class="yoti-attribute-anchors -subtype">{{ source.subtype }}</div>
          {% endfor %}
          {% for verifier in prop.verifiers %}
            <div class="yoti-attribute-anchors -s-v">Verifier</div>
            <div class="yoti-attribute-anchors -value">{{ verifier.value }}</div>
            <div class="yoti-attribute-anchors -subtype">{{ verifier.subtype }}</div>
          {% endfor %}
        </div>
      </div> 
    {% endif %}
  {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html class="yoti-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Yoti client example</title>

    <link rel="stylesheet" type="text/css" href="/static/profile.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
</head>
<body class="yoti-body">
  <main class="yoti-profile-layout">
    <section class="yoti-profile-user-section">
      <div class="yoti-profile-picture-powered-section">
        <span class="yoti-profile-picture-powered">Powered by</span>
        <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti" />
      </div>
      {% if selfie is not none %}
      <div class="yoti-profile-picture-area">
        <img src="{{ base64_selfie_uri }}" class="yoti-profile-picture-image" alt="Yoti" />
        <i class="yoti-profile-picture-verified-icon"></i>
      </div>
      {% endif %}
      
      <div class="yoti-profile-name">
        {{ full_name.value }}
      </div>
    </section>

    <section class="yoti-attributes-section">
      <img class="yoti-company-logo" src="/static/assets/company-logo.jpg" alt="company logo" />
      <div class="yoti-attribute-list-header">
        <div class="yoti-attribute-list-header-attribute">Attribute</div>
        <div class="yoti-attribute-list-header-value">Value</div>
        <div>Anchors</div>
      </div>

      <div class="yoti-attribute-list-subheader">
        <div class="yoti-attribute-list-subhead-layout">
          <div>S / V</div>
          <div>Value</div>
          <div>Sub type</div>
        </div>
      </div>

      <div class="yoti-attribute-list">
      {% if given_names %}{{ attribute("Given names", "yoti-icon-profile", given_names) }}{% endif %}
      {% if family_name %}{{ attribute("Family names", "yoti-icon-profile", family_name) }}{% endif %}
      {% if phone_number %}{{ attribute("Mobile number", "yoti-icon-phone", phone_number) }}{% endif %}
      {% if email_address %}{{ attribute("Email address", "yoti-icon-email", email_address) }}{% endif %}
      {% if date_of_birth %}{{ attribute("Date of birth", "yoti-icon-calendar", date_of_birth) }}{% endif %}
      {% if age_verified %}{{ attribute("Age verified", "yoti-icon-verified", age_verified, "Age Verification/") }}{% endif %}
      {% if postal_address %}{{ attribute("Address", "yoti-icon-address", postal_address) }}{% endif %}
      {% if structured_postal_address %}{{ attribute("Structured Address", "yoti-icon-address", structured_postal_address) }}{% endif %}
      {% if gender %}{{ attribute("Gender", "yoti-icon-gender", gender) }}{% endif %}
      {% if document_images %}{{ attribute("Document Images", "yoti-icon-profile", document_images) }}{% endif %}
      {% if document_details %}{{ attribute("Document Details", "yoti-icon-profile", document_details) }} {% endif %}
      </div>

    </section>
  </main>
</div>
</body>
</html>
