{% include "layout/header.html" %}
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <h1>Get Session Result</h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Session ID</td>
                        <td>{{ session_result.session_id }}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>
                            <span
                                class="badge badge-{{ 'success' if session_result.state == 'COMPLETED' else 'secondary' }}">
                                {{ session_result.state }}
                            </span>
                        </td>
                    </tr>
                    {% if session_result.client_session_token is not none %}
                    <tr>
                        <td>Client Session Token</td>
                        <td>
                            {{ session_result.client_session_token }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Client Session Token TTL</td>
                        <td>{{ session_result.client_session_token_ttl }}</td>
                    </tr>
                    <tr>
                        <td>User Tracking ID</td>
                        <td>{{ session_result.user_tracking_id }}</td>
                    </tr>
                    {% if session_result.biometric_consent_timestamp is not none %}
                    <tr>
                        <td>Biometric Consent Timestamp</td>
                        <td>{{ session_result.biometric_consent_timestamp }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% if session_result.checks|length > 0 %}
    <div class="row pt-4">
        <div class="col">
            <h2>Checks</h2>
            <div class="accordion mt-3" id="checks">
                {% if session_result.authenticity_checks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="authenticity-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-authenticity-checks" aria-expanded="true"
                                aria-controls="collapse-authenticity-checks">
                                Authenticity Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-authenticity-checks" class="collapse" aria-labelledby="authenticity-checks">
                        <div class="card-body">
                            {% for check in session_result.authenticity_checks %}
                            {% with check=check %}
                            {% include "partials/check.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if session_result.id_document_text_data_checks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="text-data-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-text-data-checks" aria-expanded="true"
                                aria-controls="collapse-text-data-checks">
                                ID Document Text Data Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-text-data-checks" class="collapse" aria-labelledby="text-data-checks">
                        <div class="card-body">
                            {% for check in session_result.id_document_text_data_checks %}
                            {% with check=check %}
                            {% include "partials/check.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if session_result.face_match_checks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="face-match-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-face-match-checks" aria-expanded="true"
                                aria-controls="collapse-face-match-checks">
                                Face Match Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-face-match-checks" class="collapse" aria-labelledby="face-match-checks">
                        <div class="card-body">
                            {% for check in session_result.face_match_checks %}
                            {% with check=check %}
                            {% include "partials/check.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if session_result.liveness_checks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="liveness-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-liveness-checks" aria-expanded="true"
                                aria-controls="collapse-liveness-checks">
                                Liveness Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-liveness-checks" class="collapse" aria-labelledby="liveness-checks">
                        <div class="card-body">
                            {% for check in session_result.authenticity_checks %}
                            {% with check=check %}
                            {% include "partials/check.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if session_result.id_document_comparison_checks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="comparison-checks">
                        <h3 class="mb-0">
                            <button aria-controls="collapse-comparison-checks" aria-expanded="true" class="btn btn-link"
                                data-target="#collapse-comparison-checks" data-toggle="collapse" type="button">
                                ID Document Comparison Checks
                            </button>
                        </h3>
                    </div>
                    <div aria-labelledby="comparison-checks" class="collapse" id="collapse-comparison-checks">
                        <div class="card-body">
                            {% for check in session_result.id_document_comparison_checks %}
                            {% with check=check %}
                            {% include "partials/check.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if session_result.supplementary_document_text_data_checks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="sup-doc-text-data-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-sup-doc-text-data-checks" aria-expanded="true"
                                aria-controls="collapse-sup-doc-text-data-checks">
                                Supplementary Document Text Data Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-sup-doc-text-data-checks" class="collapse"
                        aria-labelledby="sup-doc-text-data-checks">
                        <div class="card-body">
                            {% for check in session_result.supplementary_document_text_data_checks %}
                            {% with check=check %}
                            {% include "partials/check.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if session_result.resources.id_documents|length > 0 %}
    <div class="row pt-4">
        <div class="col">
            <h2>ID Documents</h2>
        </div>
    </div>
    {% endif %}

    {% with doc_num=0 %}
    {% for document in session_result.resources.id_documents %}
    {% set doc_num = loop.index %}
    <div class="row pt-4">
        <div class="col">

            <h3>
                {{ document.document_type }} <span class="badge badge-primary">{{ document.issuing_country }}</span>
            </h3>

            <div class="accordion mt-3">
                {% if document.document_fields is not none %}
                <div class="card">
                    <div class="card-header" id="document-fields-{{ doc_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-document-fields-{{ doc_num }}" aria-expanded="true"
                                aria-controls="collapse-document-fields-{{ doc_num }}">
                                Document Fields
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-document-fields-{{ doc_num }}" class="collapse"
                        aria-labelledby="document-fields-{{ doc_num }}">
                        <div class="card-body">
                            {% if document.document_fields.media is not none %}
                            <h5>Media</h5>
                            <table class="table table-striped table-light">
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>
                                            <a href="/media?mediaId={{ document.document_fields.media.id }}">
                                                {{ document.document_fields.media.id }}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if document.document_id_photo is not none %}
                <div class="card">
                    <div class="card-header" id="document-id-photo-{{ doc_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-document-id-photo-{{ doc_num }}" aria-expanded="true"
                                aria-controls="collapse-document-id-photo-{{ doc_num }}">
                                Document ID Photo
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-document-id-photo-{{ doc_num }}" class="collapse"
                        aria-labelledby="document-id-photo-{{ doc_num }}">
                        <div class="card-body">
                            {% if document.document_fields.media is not none %}
                            <img class="card-img-top" src="/media?mediaId={{ document.document_id_photo.media.id }}" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if document.text_extraction_tasks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="text-extraction-tasks-{{ doc_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-text-extraction-tasks-{{ doc_num }}" aria-expanded="true"
                                aria-controls="collapse-text-extraction-tasks-{{ doc_num }}">
                                Text Extraction Tasks
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-text-extraction-tasks-{{ doc_num }}" class="collapse"
                        aria-labelledby="text-extraction-tasks-{{ doc_num }}">
                        <div class="card-body">
                            {% for task in document.text_extraction_tasks %}

                            {% with task=task %}
                            {% include "partials/task.html" %}
                            {% endwith %}

                            {% if task.generated_text_data_checks|length > 0 %}
                            <h5>Generated Text Data Checks</h5>

                            {% for generated_check in task.generated_text_data_checks %}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ generated_check.id }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            {% endif %}

                            {% if task.generated_media|length > 0 %}
                            <h5>Generated Media</h5>

                            {% for generated_media in task.generated_media %}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>
                                            <a href="/media?mediaId={{ generated_media.id }}">{{ generated_media.id
                                                }}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>{{ generated_media.type }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if document.pages|length > 0 %}
                {% with page_num=0 %}
                {% for page in document.pages %}
                {% set page_num = loop.index %}
                <div class="card">
                    <div class="card-header" id="document-pages-{{ doc_num }}-{{ page_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-document-pages-{{ doc_num }}-{{ page_num }}" aria-expanded="true"
                                aria-controls="collapse-document-pages-{{ doc_num }}-{{ page_num }}">
                                Page {{ page_num }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-document-pages-{{ doc_num }}-{{ page_num }}" class="collapse"
                        aria-labelledby="document-pages-{{ doc_num }}-{{ page_num }}">

                        <div class="card-group">
                            {% if page.media is not none %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/media?mediaId={{ page.media.id }}" />
                                <div class="card-body">
                                    <p>Method: {{ page.capture_method }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        {% if page.frames|length > 0 %}
                        <div class="card-group">
                            {% for frame in page.frames %}
                            {% if frame.media is not none %}
                            <div class="card">
                                <img class="card-img-top" src="/media?mediaId={{ frame.media.id }}" />
                                <div class="card-body">
                                    <h5 class="card-title">Frame</h5>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
                {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endwith %}

    {% if session_result.resources.supplementary_documents|length > 0 %}
    <div class="row pt-4">
        <div class="col">
            <h2>Supplementary Documents</h2>
        </div>
    </div>
    {% endif %}

    {% with doc_num=0 %}
    {% for document in session_result.resources.supplementary_documents %}
    {% set doc_num = loop.index %}
    <div class="row pt-4">
        <div class="col">

            <h3>
                {{ document.document_type }} <span class="badge badge-primary">{{ document.issuing_country }}</span>
            </h3>

            <div class="accordion mt-3">
                {% if document.document_fields is not none %}
                <div class="card">
                    <div class="card-header" id="sup-doc-fields-{{ doc_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-sup-doc-fields-{{ doc_num }}" aria-expanded="true"
                                aria-controls="collapse-sup-doc-fields-{{ doc_num }}">
                                Document Fields
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-sup-doc-fields-{{ doc_num }}" class="collapse"
                        aria-labelledby="sup-doc-fields-{{ doc_num }}">
                        <div class="card-body">
                            {% if document.document_fields.media is not none %}
                            <h5>Media</h5>
                            <table class="table table-striped table-light">
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>
                                            <a href="/media?mediaId={{ document.document_fields.media.id }}">
                                                {{ document.document_fields.media.id }}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if document.document_file is not none %}
                {% if document.document_file.media is not none %}
                <div class="card">
                    <div class="card-header" id="sup-doc-file-{{ doc_num }}">
                        <h4 class="mb-0">
                            <a class="btn btn-link" href="/media?mediaId={{ document.document_file.media.id }}">
                                Download File
                            </a>
                        </h4>
                    </div>
                </div>
                {% endif %}
                {% endif %}

                {% if document.text_extraction_tasks|length > 0 %}
                <div class="card">
                    <div class="card-header" id="text-extraction-tasks-{{ doc_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-text-extraction-tasks-{{ doc_num }}" aria-expanded="true"
                                aria-controls="collapse-text-extraction-tasks-{{ doc_num }}">
                                Text Extraction Tasks
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-text-extraction-tasks-{{ doc_num }}" class="collapse"
                        aria-labelledby="text-extraction-tasks-{{ doc_num }}">
                        <div class="card-body">
                            {% for task in document.text_extraction_tasks %}

                            {% with task=task %}
                            {% include "partials/task.html" %}
                            {% endwith %}

                            {% if task.generated_text_data_checks|length > 0 %}
                            <h5>Generated Text Data Checks</h5>

                            {% for generated_check in task.generated_text_data_checks %}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ generated_check.id }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            {% endif %}

                            {% if task.generated_media|length > 0 %}
                            <h5>Generated Media</h5>

                            {% for generated_media in task.generated_media %}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>
                                            <a href="/media?mediaId={{ generated_media.id }}">{{ generated_media.id
                                                }}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>{{ generated_media.type }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if document.pages|length > 0 %}
                {% with page_num=0 %}
                {% for page in document.pages %}
                {% set page_num = loop.index %}
                <div class="card">
                    <div class="card-header" id="sup-doc-pages-{{ doc_num }}-{{ page_num }}">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-sup-doc-pages-{{ doc_num }}-{{ page_num }}" aria-expanded="true"
                                aria-controls="collapse-sup-doc-pages-{{ doc_num }}-{{ page_num }}">
                                Page {{ page_num }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-sup-doc-pages-{{ doc_num }}-{{ page_num }}" class="collapse"
                        aria-labelledby="sup-doc-pages-{{ doc_num }}-{{ page_num }}">

                        <div class="card-group">
                            {% if page.media is not none %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/media?mediaId={{ page.media.id }}" />
                                <div class="card-body">
                                    <p>Method: {{ page.capture_method }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        {% if page.frames|length > 0 %}
                        <div class="card-group">
                            {% for frame in page.frames %}
                            {% if frame.media is not none %}
                            <div class="card">
                                <img class="card-img-top" src="/media?mediaId={{ frame.media.id }}" />
                                <div class="card-body">
                                    <h5 class="card-title">Frame</h5>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
                {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endwith %}

    {% if session_result.resources.zoom_liveness_resources|length > 0 %}
    <div class="row pt-4">
        <div class="col">
            <h2>Zoom Liveness Resources</h2>
        </div>
    </div>
    {% endif %}

    {% with liveness_num=0 %}
    {% for liveness in session_result.resources.zoom_liveness_resources %}
    {% set liveness_num = loop.index %}
    <div class="row pt-4">
        <div class="col">
            <table class="table table-striped table-light">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ liveness.id }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="accordion mt-3">

                {% if liveness.frames|length > 0 %}
                <div class="card">
                    <div class="card-header" id="liveness-{{ liveness_num }}-frames">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-liveness-{{ liveness_num }}-frames" aria-expanded="true"
                                aria-controls="collapse-liveness-{{ liveness_num }}-frames">
                                Frames
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-liveness-{{ liveness_num }}-frames" class="collapse"
                        aria-labelledby="liveness-{{ liveness_num }}-frames">
                        <div class="card-group">
                            {% for frame in liveness.frames %}
                            {% if frame.media is not none %}
                            <div class="card">
                                <img class="card-img-top" src="/media?mediaId={{ frame.media.id }}" />
                                <div class="card-body">
                                    <h5 class="card-title">Frame</h5>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endwith %}

    {% if session_result.resources.static_liveness_resources|length > 0 %}
    <div class="row pt-4">
        <div class="col">
            <h2>Static Liveness Resources</h2>
        </div>
    </div>
    {% endif %}

    {% with liveness_num=0 %}
    {% for liveness in session_result.resources.static_liveness_resources %}
    {% set liveness_num = loop.index %}
    <div class="row pt-4">
        <div class="col">
            <table class="table table-striped table-light">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ liveness.id }}</td>
                    </tr>
                    <tr>
                        <td>Liveness Type</td>
                        <td><span class="badge badge-info">{{ liveness.liveness_type }}</span></td>
                    </tr>
                </tbody>
            </table>

            <div class="accordion mt-3">
                {% if liveness.image is not none and liveness.image.media is not none %}
                <div class="card">
                    <div class="card-header" id="static-liveness-{{ liveness_num }}-image">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-static-liveness-{{ liveness_num }}-image" aria-expanded="true"
                                aria-controls="collapse-static-liveness-{{ liveness_num }}-image">
                                Liveness Image
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-static-liveness-{{ liveness_num }}-image" class="collapse"
                        aria-labelledby="static-liveness-{{ liveness_num }}-image">
                        <div class="card-body">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/media?mediaId={{ liveness.image.media.id }}"
                                    alt="Static Liveness Image" />
                                <div class="card-body">
                                    <h5 class="card-title">Static Liveness Check</h5>
                                    <p class="card-text">Media ID: {{ liveness.image.media.id }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endwith %}
</div>
{% include "layout/footer.html" %}
